GOOGLE_CALENDAR_ID="tvoj_kalendar_id@group.calendar.google.com"
GOOGLE_CLIENT_EMAIL="service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
CALENDAR_TIMEZONE="Europe/Bratislava"
NEXT_PUBLIC_GOOGLE_CALENDAR_EMBED_URL="https://calendar.google.com/calendar/embed?src=tvoj_kalendar_id%40group.calendar.google.com&ctz=Europe%2FBratislava"


